.text-red {
    color:red
}
.fs-14 {
    font-size: 14px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}
.ort {
    
    list-style-position: inside
}
body {
    background-color:rgb(188, 237, 181);
}
h1 {
    color: brown;
    list-style-position: inside
}
p{
    list-style-position: inside;
}